canvas {
border: 2px solid black;
background: white;
border-radius: 5px;
margin: 0em 1em 0em 1em;
}

.btn-outline-primary {
padding: 10px 137px;
margin: 0em 1em 0em 1em;
}

.btn-info {
padding: 2px 29px;
margin: 0.3em 0.1em 1em 0.1em;
}

.line_button {
display: inline-block;
}

.line_button_out {
width:100%;
text-align: center;
}