{% extends "base.html" %}
{% block title %}Sheet{% endblock%}
{% block page %}
  <div class="container">

    <div align="center">
        <canvas id="Canvas" width="300" height="400" style="border:2px solid black" ></canvas>
        <br /><br />
        <button onclick="javascript:clearArea();return false;">Clear Area</button>
        Line width : <select id="selWidth">
            <option value="1">1</option>
            <option value="3">3</option>
            <option value="5">5</option>
            <option value="7">7</option>
            <option value="9" selected="selected">9</option>
            <option value="11">11</option>
        </select>
        Color : <select id="selColor">
            <option value="black">black</option>
            <option value="blue" selected="selected">blue</option>
            <option value="red">red</option>
            <option value="green">green</option>
            <option value="yellow">yellow</option>
            <option value="gray">gray</option>
        </select>
         <p></p>
        <form method="post"  action="{{url_for('main.image')}}">
            <button name="img" onclick="drawDataURIOnCanvas();">Get Jpg</button>
        </form>
    </div>
  </div>
{% endblock %}